
h1 {
    font-size: 6em;
}
img {
    padding:0%;
}

ul {
    list-style-type: none;
}

.row {
    padding: 2rem;
}
li {
    display: inline;
    padding: 1em;
    white-space: nowrap;
}

.clear-left {
    clear: left;
}