body {
    background-color:#fdeed9;
    font-family: "EB Garamond", serif;
    font-size: 2em;
    padding: 2%;
    animation: 1.5s fadeInUp;
}
@keyframes fadeInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
 

#heading {
    position:relative;
    top: -100px;
    text-align: center;
    font-size: 24pt;
}

.border-image {
    position: relative;
    top:-250px;
}
.text-box-2 {
    text-align: center;
    position:relative;
    top:-25px;
    padding-bottom: 10%;
}

.text-box-3 {
    position:relative;
    top: 50px;
}
.text-box-4 {
    position:relative;
    top:-35px;
    text-align: center;
}

.text-box-5 {
    position:relative;
    top:-75px;
}

.title {
    display: block;
    margin: auto;
    justify-content: center;
    padding-top: 22%;
    padding-bottom: 10%
}

.eggs {
    padding-bottom: 10%;
}

.swan-egg:hover {
    transform: scale(1.25);
}

.duck {
    padding: 10%;
    width: 600px;
    position:relative;
    right: 100px;
    top: -45px;
}

.duck1 {
    padding: 10%;
    width: 600px;
    position:relative;
    right: 150px;
    top:-45px;
}

.duck2 {
    padding: 10%;
    width: 600px;
    position:relative;
    right: 75px;
    top: -75px;
}

.duck3 {
    padding: 10%;
    width: 700px;
    position:relative;
    right: 100px;
    top: -50px;
}

.duck4 {
   position:relative;
    top: -175px;
    right: 50px;
}

.swans {
    width: 400px;
    padding-bottom: 30%;
    position:relative;
    top: -70px;
    left: 100px;
}

.swan-lake {
    padding-top: 5%;
    padding-bottom: 5%;
}

.swan-transformation:hover {
    transform: scale(1.15);
}



.image-container {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.image-container img {
    width: 100%;
    display: block;
}

.overlay-text {
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 24px;
    text-align:center;
}

.frame {
    position:relative;
    left: 100px;
    width: 500px;
}

.secondframe {
    position:relative;
    right: 75px;
    width: 500px;
    top:-25px;
}

.thirdframe {
    position:relative;
    left: 100px;
    width: 500px;
}

.custom-frame {
    width: 300px;
    padding: 5%;
    position:relative;
    top: -100px;
    justify-content: center;
}

.large-frame {
    position:relative;
    width: 700px;

}

h2 {
    padding-top: 2%;
    padding-bottom: 5%;
}
.motherduck {
    width: 550px;
    position: relative;
    top: -30px;
    right: 35px;
}

@media only screen and (max-width: 500px) {
    .body {
        justify-content: center;
    }
    .text-box-1 {
        text-align: center;
        padding-top:40%;
    }
    .text-box-2, .text-box-3, .text-box-4, .text-box-5 {
        text-align: center;
        padding-bottom: 15%;

    }
    .text-box-6 {
        text-align: center;
    }
   
    #heading {
        padding-top: 10%;
        text-align: center;
        font-size: 1.20em;
    }
    .border-image {
        padding-top: 20%;
    }
    .duck-egg {
        display: none;
    }

    .ugly-duckling {
        position: relative;
    }
    .swans {
        width: 300px;
    }

    .frame {
        margin:auto;
        position:relative;
        width: 75%;
        padding:5%;
    }
    .secondframe, .thirdframe {
        margin: auto;
        width: 75%;
        padding: 5%;
    }
    .custom-frame {
        margin: auto;
        padding: 5%;
    }

    .overlay-text {
        font-size: 0.90em;
    }
  
    .motherduck {
        width: 95%;
        position:absolute;
        right: 20px;
        top: 300px;
    }
    .duck, .duck1, .duck2, .duck3, .duck4 {
        display: none;
    }
}

@media only screen and (max-width: 850px) {
    .duck, .duck1, .duck2, .duck3, .duck4 {
        display: none;
    }

}

